.card_content{
    background: #ffffff;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    margin-bottom: 12px;
    height: fit-content;
    min-height: 345px;  
}

.card_image_section{
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}
.card_image {
    /* width: 150px; */
    width: 150px;
    width: -moz-available;         
    width: -webkit-fill-available; 
    width: fill-available;
}
.mission_name_id{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #606491;
    font-weight: 600;
    margin-bottom: 10px;
}
.card_bottom_content p{
    margin: 0px;
}
.mission_ids_list{
    margin: 0px;
}
.title_value{
    color: #606491;
    margin-left: 4px;
}
.card_content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.mission_ids_list li {
    padding-left: 1em; 
    text-indent: -.7em;
  }
  
.mission_ids_list li::before {
    content: "• ";
    color: #606491; 
  }

  @media screen and (min-width: 701px) { 
    .card_content{
        margin-right: 20px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) { 
    .card_content{
        width: 19%;
    }
}
@media screen and (min-width: 701px) and (max-width: 1024px) { 
    .card_content{
        width: 40%;
    }
}

@media screen and (min-width: 1440px) { 
    .card_content{
        width: 20%;
    }
}
