.filter_container {
  background: #ffffff;
  padding: 10px;
  height: fit-content;
  margin-bottom: 20px;
  border-radius: 4px;
}
.filter_container p{
    margin: 0px;
    font-weight: 700;
}
.launch_year_filter_section button {
  width: 40%;
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  background: #C3E19B;
  border: none;
  border-radius: 4px;
}
.launch_year_filter_section button:focus{
  outline:0 ;
}

.filter_title_section{
  width: max-content;
  margin: 0px auto;
}

.filter_type_title {
  font-size: 15px;
  text-align: center;
  padding: 0px 20px;
  color: #606491;
}
.border_bottom {
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}
.launch_year_filter_section {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 701px) and (max-width: 1024px) {
  .filter_container {
    width: 40%;
  }
}

@media screen and (min-width: 701px) { 
  .filter_container {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1025px)  {
  .filter_container {
    width: 20%;
    margin-right: 20px;
  }
}



